body{
    background-image: url(images/GEOGRAPHYQUIZPAGE.png);
    background-size: 100%;
    background-attachment: fixed;
}
.quizsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
}
.topsection{
    display: flex;
    flex-direction: row;
}
.quizbox{
    height: 350px;
    width: 250px;
    background-image: url(images/GEOGRAPHYQUIZBOX.jpeg);
    background-size: 100%;
    border-radius: 40px 40px 40px 40px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headingbox1{
    height: 50px;
    width: 140px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(0, 149, 255);
    box-shadow: 0 0 7px 7px white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 225px;
}
.headingbox2{
    height: 50px;
    width: 160px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(0, 224, 176);
    box-shadow: 0 0 7px 7px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 225px;
}
.headingbox3{
    height: 50px;
    width: 140px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(36, 100, 249);
    box-shadow: 0 0 7px 7px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 225px;
}
.heading1{
    font-family: 'Showcard Gothic', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1.10px;
    font-size: 30px;
}
.heading2{
    font-family: 'Showcard Gothic', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1.10px;
    font-size: 30px;
}
.heading3{
    font-family: 'Showcard Gothic', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1.10px;
    font-size: 30px;
}
.play1{
    font-family: "Carter One", serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 110px;
    color: white;
    background-color: rgb(0, 149, 255);
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
}
.play1:hover{
    cursor: pointer;
    background-color: rgb(0, 149, 255);
    box-shadow: 0 0 5px 5px rgb(0, 149, 255),
        0 0 20px 5px rgb(0, 149, 255),
        0 0 60px 5px rgb(0, 149, 255),
        0 0 150px 5px rgb(0, 149, 255)
}
.play2{
    font-family: "Carter One", serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 110px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 224, 176);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
}
.play2:hover{
    cursor: pointer;
    background-color: rgb(0, 224, 176);
    box-shadow: 0 0 5px 5px rgb(0, 224, 176),
        0 0 20px 5px rgb(0, 224, 176),
        0 0 60px 5px rgb(0, 224, 176),
        0 0 150px 5px rgb(0, 224, 176)
}
.play3{
    font-family: "Carter One", serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 110px;
    color: white;
    background-color: rgb(36, 100, 249);
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
}
.play3:hover{
    cursor: pointer;
    background-color: rgb(36, 100, 249);
    box-shadow: 0 0 5px 5px rgb(36, 100, 249),
        0 0 20px 5px rgb(36, 100, 249),
        0 0 60px 5px rgb(36, 100, 249),
        0 0 150px 5px rgb(36, 100, 249)
}
.link{
    text-decoration: none;
}
.backsection{
    display: flex;
    justify-content: center;
    align-items: center;
}